@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto "Courier New", Courier, monospace;
  color: white;
  --page-margin: 20%;
  --page-margin-mobile: 5%;
  --page-margin-tablet: 7%;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.content {
  display: grid;
  grid-template: repeat(3, 1fr);
  gap: 1em;
  justify-content: center;
}

.link-section .link-list {
  display: flex;
  gap: 1em;
}

.header-container,
.portfolio-container {
  margin: 0 var(--page-margin) 0;
}

.header-container,
.portfolio-container,
.footer-container {
  padding: 1em;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile-image {
  object-fit: cover;
}

.profile-name {
  position: absolute;
  bottom: 0.5em;
  color: black;
}

.about-me-section {
  max-width: 800px;
  min-height: 200px;
  justify-self: flex-start;
  padding: 1em;
  background-color: gray;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 1em;
}

.work-card {
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  border-radius: 0.5em;
  max-width: 300px;
  gap: 1em;

  .work-image {
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
  }

  .work-card-header {
    padding: 0 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .work-description {
    padding: 0 1em 1em;
  }
}

.footer-container {
  display: flex;
  background-color: #0f172a;
  padding: 1em var(--page-margin) 1em;
  gap: 1em;
}

.contact-info-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/*phone*/
@media (max-width: 699px) {
  .header-container,
  .portfolio-container {
    margin: 0 var(--page-margin-mobile) 0;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 1em var(--page-margin-mobile) 1em;
  }

  .header-container {
    flex-direction: column;
    gap: 0.5em;
  }

  .profile-image {
    max-width: 350px;
    min-height: 400px;
  }

  .about-me-section {
    min-height: 500px;
    width: 350px;
  }
}

/*tablet*/
@media (min-width: 700px) and (max-width: 1100px) {
  .header-container,
  .portfolio-container {
    margin: 0 var(--page-margin-tablet) 0;
  }
  .footer-container {
    padding: 1em var(--page-margin-tablet) 1em;
  }
}
