@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Courier New", Courier, monospace;
  color: white;
  --page-margin: 20%;
  --page-margin-mobile: 5%;
  --page-margin-tablet: 7%;

  --background-color: radial-gradient(
      ellipse at 10% 90%,
      #3c2d83 0%,
      transparent 55%
    ),
    radial-gradient(ellipse at 90% 90%, #c33c65 0%, transparent 55%),
    radial-gradient(ellipse at 90% 10%, #4a74dc 0%, transparent 55%),
    radial-gradient(ellipse at 10% 10%, #35244f 0%, transparent 55%);
  --about-me-section-color: linear-gradient(45deg, #35244f, #7a3864);
  --header-text-color: #ffb85b;
  --description-text-color: #fbeaff;
  --about-me-title-color: #e4f0f5;
  --work-section-title-color: #e4f0f5;
  --work-card-color: #344a53;
  --footer-background-color: linear-gradient(315deg, #35244f, #7a3864);
  --info-block-color: #7a3864;
  --primary-box-shadow-color: #35244f;
  --secondary-box-shadow-color: #5c4877;
}

a {
  list-style: none;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: var(--background-color);
  background-blend-mode: screen;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.loading-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: 100vh;
  display: none;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}

.small-icon,
.medium-icon,
.large-icon {
  transition: color 0.2s ease-in-out;
}

.small-icon:hover,
.medium-icon:hover,
.large-icon:hover {
  color: #ffb85b;
}

.small-icon {
  font-size: large;
}

.medium-icon {
  font-size: x-large;
}

.large-icon {
  font-size: xx-large;
}

.link-list {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.header-container,
.portfolio-container {
  margin: 0 var(--page-margin) 0;
}

.header-container,
.portfolio-container,
.footer-container {
  padding: 1em;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile-image,
.footer-image {
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;
  border-radius: 1em;
}

.profile-name {
  position: absolute;
  bottom: 0.5em;
  color: var(--about-me-title-color);
  font-size: xx-large;
  font-weight: 200;
}

.about-me-section {
  justify-self: flex-start;
  max-width: 800px;
  min-height: 200px;
  padding: 1em;
  background: var(--about-me-section-color);
  box-shadow: 10px 10px 0px 0px #5c4877;
  border-radius: 0 1em 1em 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5em;
}

.about-me-section .about-me-text {
  color: var(--header-text-color);
}

.about-me-section .about-me-description {
  color: var(--description-text-color);
  font-size: large;
  font-weight: 300;
}

.about-me-section .link-section {
  align-self: flex-end;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 1em;
}

.portfolio-title {
  color: var(--work-section-title-color);
  font-size: xx-large;
  font-weight: 100;
  margin-left: 1em;
}

@keyframes cardFadeIn {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.work-card {
  display: flex;
  flex-direction: column;
  background: var(--work-card-color);
  border-radius: 0.5em;
  max-width: 300px;
  min-height: 500px;
  gap: 1em;
  transition: transform 0.2s ease-in-out;
  box-shadow: 10px 10px 2px 0px var(--primary-box-shadow-color);

  .work-image {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 0.5em 0.5em 0 0;
  }

  .work-name {
    color: var(--header-text-color);
    font-size: x-large;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .work-card-header {
    padding: 0 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

  .work-description {
    padding: 0 1em 1em;
    font-size: large;
    font-weight: 300;
    color: var(--description-text-color);
  }
}

.work-card:hover {
  transform: scale(1.02);
}

.footer-container {
  display: flex;
  background: var(--footer-background-color);
  padding: 1em var(--page-margin) 1em;
  gap: 1em;
  min-width: 100vw;
  justify-content: space-between;
}

.contact-info-section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  color: var(--description-text-color);
}

.contact-info-title {
  color: var(--header-text-color);
}

.contact-info-list {
  display: flex;
  align-items: center;
  gap: 1em;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  transition: transform 0.2s ease-in-out;
  gap: 1em;

  background: var(--info-block-color);
  color: var(--description-text-color);
  border-radius: 0.5em;
  width: 200px;
  height: 200px;
  box-shadow: 10px 12px 0px 0px var(--primary-box-shadow-color);
  font-size: medium;
  font-weight: 200;
}

.info-block:hover {
  transform: scale(1.02);
}

/*phone*/
@media (max-width: 699px) {
  .header-container,
  .portfolio-container {
    margin: 0 var(--page-margin-mobile) 0;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 1em var(--page-margin-mobile) 1em;
  }

  .contact-info-section {
    align-items: center;
  }

  .contact-info-list {
    flex-direction: column;
  }

  .header-container {
    flex-direction: column;
    gap: 0.5em;
  }

  .portfolio-title {
    align-self: center;
    margin-left: 0;
  }

  .profile-image,
  .footer-image {
    max-width: 350px;
    min-height: 400px;
  }

  .about-me-section {
    align-items: center;
    justify-content: flex-end;
    width: 350px;
    border-radius: 1em;
  }

  .about-me-section .link-section {
    align-self: center;
  }
}

/*tablet*/
@media (min-width: 700px) and (max-width: 1100px) {
  .header-container,
  .portfolio-container {
    margin: 0 var(--page-margin-tablet) 0;
  }
  .footer-container {
    padding: 1em var(--page-margin-tablet) 1em;
  }

  .footer-image {
    max-width: 250px;
    min-height: 400px;
  }
}
